@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-green: #009387;
  --color-orange: #ff6d2c;
  --font-ital: "Inter", "sans-serif";
  --font-grace: "Covered By Your Grace", "cursive";
}

